.fetured-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-items: start;
  column-gap: 3rem;
  row-gap: 6rem;

  .fetured-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.6rem;
    row-gap: 1.6rem;
    ion-icon {
      transform: translateY(-1.6rem);
      grid-row: 1/3;
      width: 5rem;
      height: 5rem;
      color: var(--primary-color);
    }
    p {
      grid-column: 2/3;
    }
  }
}
