.footer-section {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 5rem;
  .links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    grid-auto-flow: row;
  }

  .anchor:link,
  .anchor:visited {
    padding: 1.2rem 1.6rem;
    font-size: 1.3rem;
    /* text-decoration: none; */
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    text-decoration: underline;
    line-height: 1.9rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover,
    &:active {
      transform: translateY(-1rem);
      background-color: var(--secondary-light-color);
    }
  }
  .copy {
    margin: 0 auto;
    max-width: 80rem;
    text-align: center;
    font-size: 1.3rem;
    color: #fffefe;
    text-transform: capitalize;
    display: block;
    line-height: 1.5;
  }
  .my-pro:link,
  .my-pro:visited {
    text-align: center;
    margin-left: 1.6rem;
    text-transform: uppercase;
    color: var(--primary-color);
    display: inline-block;
    line-height: 1.8rem;
    transition: transform 0.3s ease;
    font-size: 1.6rem;
    &:hover,
    &:active {
      transform: scale(1.1) rotate(-2deg);
    }
  }
}
