.main-content {
  background-color: rgb(53, 53, 53);

  /* padding: 10rem au; */
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 10rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: 1fr;
}
