.side-bar {
  background-color: var(--primary-color);
  padding: 1.6rem;
  display: flex;
  justify-content: center;
}

/* button */
.menu {
  width: 5rem;
  height: 5rem;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 4.8rem;
    height: 0.15rem;
    background-color: var(--color-grey-light-1);
    position: relative;
    border-radius: 1rem;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.18rem;
      background-color: var(--color-grey-light-1);
      border-radius: inherit;
      transition: all 0.3s ease;
    }
    &::after {
      top: 1.3rem;
    }
    &::before {
      top: -1.3rem;
    }
  }
}
.menu:hover .line {
  &::after {
    top: 1.5rem;
  }
  &::before {
    top: -1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .side-bar {
    /* justify-content: end; */
    align-items: center;
    padding: 1.6rem;
    .menu {
      margin-left: auto;
    }
  }
}
