.main-content {
  background-color: var(--color-grey-light-1);
  scroll-behavior: smooth;
  overflow: scroll;
  display: grid;

  row-gap: 20rem;
  grid-template-columns:
    minmax(10rem, 1fr)
    repeat(8, minmax(min-content, 13rem))
    minmax(10rem, 1fr);
  grid-template-rows: repeat(6, min-content);
}

.header-section {
  grid-column: 1/-1;
}
.fetured-section {
  grid-column: 2/10;
}
.story-section {
  grid-column: 2/10;
}
.home-section {
  grid-column: 2/10;
}
.gallery-section {
  grid-column: 1/-1;
}
.footer-section {
  background-color: var(--secondary-color);
  grid-column: 1/-1;
  margin-top: -20rem;
}

@media only screen and (max-width: 590px) {
  html {
    /* font-size: 40%; */
  }
}
