.main-content {
  background-color: var(--color-grey-light-1);

  overflow: scroll;
  display: grid;

  row-gap: 16.6rem;
  grid-template-columns:
    minmax(6rem, 1fr)
    repeat(8, minmax(min-content, 13rem))
    minmax(6rem, 1fr);
  grid-template-rows: 80vh repeat(4, min-content) 30vh;
}

.header-section {
  grid-column: 1/-1;
}
.fetured-section {
  grid-column: 2/10;
}
.story-section {
  grid-column: 2/10;
}
.homes {
  grid-column: 2/10;
}
.gallery {
  grid-column: 2/10;
}
.footer {
  grid-column: 1/-1;
}
