:root {
  /* font */
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Josefin Sans", sans-serif;

  /* color */
  --primary-color: #ff6200;
  --primary-light-color: #ecb674;
  --primary-dark-color: #a03d00;

  --secondary-color: #313131;
  --secondary-light-color: #555555;
  --secondary-dark-color: #313131;

  --secondary-color-custom-for-header: #313131de;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-light-3: #555;

  --color-grey-dark-1: #555;
  --color-grey-dark-2: #6d5d4b;

  /* shadow */
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}
